SUBSYSTEM=="video4linux", KERNEL=="video?", ATTR{index}=="0", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="62f1", SYMLINK+="mexample", RUN+="/usr/sbin/service motion restart"

